@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
  color-scheme: light dark;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

h2 {
  letter-spacing: -0.7px; /* Extra tightening for headings */
  font-weight: 400;
}

header {
  background-color: #134e32;
  width: 100vw;
  box-sizing: border-box; /* new */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.4rem; /* new */
  height: 7rem; /* new */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  letter-spacing: -0.7px;
  font-weight: 600;
  color: white;
  margin: 10px 10px 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

select {
  border-radius: 5px;
  margin-left: 5px;
  background-color: #ffffff;
  color: black;
  border: 1px solid grey;
}

.form-link {
  color: #187c49;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.form-link:hover {
  color: #124f33;
}

.header-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 0;
}

.header-email h2 {
  margin: 0;
  font-size: 0.8rem; /* new */
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  letter-spacing: 0px;
}

.header-email .account-type {
  margin-left: 2rem;
}

.header-email button {
  display: inline-block;
  padding: 0.2rem 0.4rem; /* new */
  margin-top: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.8); /* new */
  border-radius: 6px;
  cursor: pointer;
  background-color: #134e32; /* new */
  color: rgba(255, 255, 255, 0.8); /* new */
  font-size: 0.8rem; /* new */
  font-weight: 500;
  transition: all 0.2s ease;
}

.header-email button:hover {
  background-color: #124f33; /* new */
  border-color: #f0f0f0;
  transform: translateY(-1px);
}

.header-email button:active {
  transform: translateY(0);
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.header-email .error-message {
  color: red;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}
